@charset "ISO-8859-1";
body {
   background-image: url("Images/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
	font-family: CURSIVE;
    color: #400040;
    text-align: center;
    text-indent: 6.0em;
}
table {
    font-family: Comic Sans MS;
    font-size: 25px;
    text-indent: 10.0em;
    table-align: "middle";
    color: #400040;
}
